.BasketItem {
    display: flex;
    width: 100%;
  }
  
  .BasketItem .name {
    flex: 2;
  }
  
  .BasketItem .price {
    flex: 1;
  }
  
  .BasketItem .count {
    flex: 1;
    display: flex;
  }

  .BasketItem .count .calc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    width: 1rem;
    height: 1rem;
    border:1px solid #000;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .BaksetItem .totalprice{
    flex:2;
  }

  .BasketItem .return {
    margin-left: auto;
    color: #f06595;
    cursor: pointer;
  }
  
  .BasketItem .return:hover {
    text-decoration: underline;
  }
  
  .BasketItem+.BasketItem {
    margin-top: 1rem;
  }