.ShopItem {
    background: white;
    border: 1px solid #495057;
    padding: 0.5rem;
    border-radius: 2px;
    cursor: pointer;
    width: 155px;
    margin-left:1%;
    margin-bottom: 1%;
  }
  
  .ShopItem h4 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .ShopItem:hover {
    background: #495057;
    color: white;
  }
  